.featured {
     width: 100%;
     min-width: 1024px;
     display: flex;
     justify-content: space-between;
     gap: 20px;
     z-index: 1;

 }

 .featuredItem{
    position: relative;
    color: white;
    border-radius: 10;
    overflow: hidden;
    /* height: 150px; */
 }

 .featuredImage{
    width: 100%;
    height: auto;
    /* object-fit: cover; */
 }

 .featuredTitle {
    position: absolute;
    bottom: 20px;
    left: 20px;
 }